html,body{
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}
header{
	position: sticky;
	top: 0;
	padding: 5px;
	background-color: #ffffff;
	z-index: 100;
}
#Buttons{
	float: right;
	width: 50%;
}
.FWB{
	width: 10%;
}
#TextDialog{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 80%;
	overflow: auto;
	display: none;
	background-color:  #ffffff;
	z-index: 100;
}
#TextDialogContent{
	margin: 5% auto;
	width: 90%;
	height: 70%;
	padding: 2em;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
	animation-name: modalopen;
	animation-duration: 1.0s;
}
@keyframes modalopen {
	from {opacity: 0}
	to {opacity: 1}
}
#InputField{
	width: 100%;
	height: 95%;
}
#OuterFrame{
	padding: 10px;
}
td{
	border: 1px #000000 solid;
}
table{
	border-collapse: collapse;
}
.cross-layout {
    display: inline-grid;
    grid-template-columns: 30px 30px 30px;
    grid-template-rows: 30px 30px 30px;
}

.cross-layout .position-top {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.cross-layout .position-left {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.cross-layout .position-center {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: lightGrey;
}

.cross-layout .position-right {
    grid-row: 2 / 3;
    grid-column: 3/4;
}

.cross-layout .position-bottom {
    grid-row: 3 / 4;
    grid-column: 2/3;
}

.cross-key-btn {
    width: 30px;
    height: 30px;
    background-color: lightGrey;
}

.left-mark {
    display: block;
    transform: rotate(-90deg);
}

.right-mark {
    display: block;
    transform: rotate(90deg);
}

.bottom-mark {
    display: block;
    transform: rotate(180deg);
}
